<div class="container">
    <h2>Edit Medicine (for JSON Server medicine id = {{medicine.id}})</h2>

    <form [formGroup]="medicineForm">

       
        
        <div class="form-group">
            
            <label for="medicineName">medicine Name:</label>

            <input id="medicineName" formControlName="medicineName" >

            <div *ngIf="medicineForm.get('medicineName')?.hasError('required')" class="error-message">medicine Name is
                required.</div>
            <div *ngIf="medicineForm.get('medicineName')?.hasError('minlength')" class="error-message">medicine Name must
                be at least 3 characters long.</div>
        </div>
        <div class="form-group">
            
            <label for="medicineBrand">medicine Brand:</label>

            <input id="medicineBrand" formControlName="medicineBrand" >

            <div *ngIf="medicineForm.get('medicineBrand')?.hasError('required')" class="error-message">medicine Brand is
                required.</div>
            <div *ngIf="medicineForm.get('medicineBrand')?.hasError('minlength')" class="error-message">medicine Brand must
                be at least 3 characters long.</div>
        </div>

        <div class="form-group">
            
            <label for="MedicineSymptom">medicine Symptom:</label>

            <input id="MedicineSymptom" formControlName="MedicineSymptom" >

            <div *ngIf="medicineForm.get('MedicineSymptom')?.hasError('required')" class="error-message">medicine Brand is
                required.</div>
            <div *ngIf="medicineForm.get('MedicineSymptom')?.hasError('minlength')" class="error-message">medicine Brand must
                be at least 3 characters long.</div>
        </div>

        <button (click)="updatemedicine()" [disabled]="medicineForm.invalid" class="btn btn-primary">Update medicine</button>


    </form>


</div>
