<!-- <div style="border: 2px solid green;"> -->

    List of Order on sale

    <div *ngIf="order.length>0;else elseBlock">
        <table border="2" >
    
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Order name</th>
                    <th>Order prescription</th>
                    <th>Order strips</th> 
                    <th>Order price</th> 
                    <th> EDIT </th>                   
                    <th> DELETE </th>
                </tr>
            </thead>
    
            <tr *ngFor="let ord of order; index as i">
                <td> {{i+1}}</td>
                <td> {{ord.TransactionMedicine}}</td>
                <td> {{ord.TransactionPrescription}}</td>    
                <td> {{ord.Transactionstripsno}}</td>   
                <td> {{ord.TransactionPrice}}</td>                              
                <td> <button (click)="deleteOrder(ord.id)" > DELETE </button></td>
            </tr>
    
        </table>
    </div>
     
    <ng-template #elseBlock> No Order on Sale!! Visit a day later. </ng-template >
    
    <!-- </div> -->